 <div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="search city" name="city" [(ngModel)]="cityName"/>
  </form> 
 </div> 
<div class="container" *ngIf="weatherData">
  <div class="upper-data" >
    <img src="../assets/images/Sun cloud angled rain.png" *ngIf="weatherData.main.temp <15">
    <img src="../assets/images/thunderstroms-sunny.png" *ngIf="weatherData.main.temp >15">
    <div class="weather-data">
      <div class="location">{{ weatherData.name}}:{{weatherData.sys.country}}</div>
      <div class="temperature" >{{ weatherData.main.temp | number :'1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data"> 
    <div class="more-info-label" style="font-weight: 400; font-family:cursive;">
      More information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/Thermomater (1).png" alt="" style="width:15px ;">
      
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number :'1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/Thermomater.png" alt="" style="width:15px">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number :'1.0-0'}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/Moon cloud fast wind.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
         {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/Tornado.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
         {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet>

</router-outlet>