/* You can add global styles to this file, and also import other style files */
:root {
    --blue-1: #3C429E;
    --blue-2: #4C52AD;
    --yellow-1: #FAC742;
    --white: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light:  rgba(255,255,255,0.1);
    }

    * {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
    }
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        width: 100%;
        height: 100vh;
        background-color: var(--blue-1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 300px;
        height: 85vh;
         background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
        

        border-radius: 20px;
        box-shadow: 20px 20px 30px  var(--shadow-dark);
    }

    .upper-data {
        position: relative;
          overflow: hidden;  
        width: 100%;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        background: linear-gradient(90deg, #5936B4 0%, #362A84 103.55%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .upper-data img {
        position: absolute;
        top: 20px;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .lower-data {
        position: relative;
        overflow: hidden;
        height: 50%;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 1em;
        display: flex;
        flex-direction: column;

    }

    .weather-data {
        position: relative;
        z-index: 1;
         width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location {
     color: var(--grey-1);
     position: absolute;
     top: 19px;
     left: 20px;
     font-weight: 900;
        font-size: 1.2em;
    }
    .temperature {
        color: var(--white);
        position: absolute;
        top: 3.5px;
        right: 11px;
        padding-top: 0px;
        font-size: 3em;
        font-weight: 600;
    }
    .more-info-label {
        color: var(--white)
    }

    .more-info-container {
flex: 1;
background: radial-gradient(95.47% 71.89% at 93.07% 74.31%, rgba(69, 39, 139, 0.9) 0%, rgba(46, 51, 90, 0.9) 100%) ;/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
box-shadow: 0px 20px 100px rgba(74, 57, 127, 0.7), inset 0px 1px 0px rgba(74, 57, 127, 0.7);
/* background-color: rgb(90, 134, 134); */
border-radius: 20px;
margin-top: 1em;
 display: flex;
flex-direction: row;
flex-wrap: wrap; 

    }

    .info-block {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    .info-block-label {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-block-label img {
        width: 1.5em;
    }
    .info-block-label span {
        color: var(--white);
        font-size: 0.8em;
    }

    .info-block-value {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--white);
    }
 
    .search {
      margin-bottom: 1em;
      text-align: center;

    }
    .search input {
        background-color: var(--shadow-light);
        outline: none;
        border: none;
        border-radius: 20px;
        padding: 1em;
        color: var(--grey-1);
        font-size: 0.8em;
        text-align: center;
    } 